<div class="card card-profile col-2 mt-5 ml-auto mr-auto align-self-start" lang="en" style="min-width: 250px;">
    <div class="card-header card-header-image">
        <img src="{{ character.header_image }}" style="max-width: 200px; background-color: lightgray;" alt=""/>
    </div>
    <div class="card-body">
        <h4 class="mb-0 card-title text-muted">{{ character.name }}</h4>
        <h6 class="mt-1 mb-0 card-subtitle text-muted"><a href="{% url 'user-profile' username=character.user.username %}">{{ character.user.username }}</a></h6>
        <p class="card-category text-gray mb-1 mt-0">{{ character.tagline|lower }}</p>
        <a href="{% url 'character-wire' page_name=character.page_name %}">Wireframe preview</a>
        <p class="mb-0"><a href="#" data-toggle="modal" data-target="#infoModal"><i class="material-icons mr-1" style="margin-bottom: -0px;">edit</i></a>
    </div>
</div>