{#{% extends "senpals/base.html" %}#}
{##}
{#{% block title %}{{ character.page_name }}{% endblock %}#}
{##}
{#{% block navbar %}{% include "senpals/navbar.html" with nav_title=character.page_name %}{% endblock %}#}
{##}
{#{% block body %}#}
{#<div class="container">#}
{#    <div class="row mt-5">#}
{#        {% include 'characters/character_info_card.html' %}#}
{#        {% include 'characters/character_tabs_card.html' %}#}
{#    </div>#}
{#</div>#}
{#{% include 'characters/character_info_update_modal.html' %}#}
{#{% include 'characters/character_description_update_modal.html' %}#}
{#{% endblock %}#}

