<div class="card-header card-header-primary">
    <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#posts" data-toggle="tab"><i class="material-icons">description</i>  Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#threads" data-toggle="tab"><i class="material-icons">list</i> Threads</a>
            </li>
        </ul>
    </div>
</div>