<div class="card card-profile col-2 mt-5 ml-auto mr-auto align-self-start" lang="en" style="min-width: 250px;">
    <div class="card-body">
        <h4 class="mb-0 card-title text-muted">{{ verse.name }}</h4>
        <h6 class="mt-1 mb-0 card-subtitle text-muted">{{ verse.franchise }}</h6>
        <p class="card-category text-gray mb-1 mt-0">{{ verse.description }}</p>
        <p class="mb-0"><a href="#" data-toggle="modal" data-target="#updateModal"><i class="material-icons mr-1" style="margin-bottom: -0px;">edit</i></a>
    </div>
</div>