<div class="col pr-0 pl-0 ml-0 mr-0">
    <div class="card card-blog">
        <div class="card-body ">
            <h4 class="card-title">
                {{ post.title }}
            </h4>
            <div class="card-text mt-3 pb-0" style="color: black;">
                {{ post.text|safe|truncatechars:400 }}...
            </div>
            <div class="text-center"><a class="badge badge-sm badge-primary badge-pill text-white font-weight-bold mt-2" href="{% url 'post-detail' pk=post.pk %}">Read More</a></div>
            <hr class="mt-4 mb-4" style="border: 1px solid lightgray;">
            <footer class="card-footer">
                <div class="author">
                    <a href="{% url 'character-detail' page_name=post.character.page_name %}">
                        <img src="{{ post.character.icon }}" alt="..." class="avatar img-raised" />
                        <span>{{ post.character.page_name }}</span>
                    </a>
                </div>
                <div class="stats">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.created }}
                </div>
            </footer>
        </div>
    </div>
</div>