<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'senpals/media/burning-book.png' %}">
    <link rel="icon" type="image/png" href="{% static 'senpals/media/burning-book.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Senpals{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'paperkit/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'paperkit/assets/css/paper-kit.css' %}" rel="stylesheet" />

    <script src="{% static 'paperkit/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'paperkit/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'paperkit/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{% static 'paperkit/assets/js/plugins/bootstrap-switch.js' %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static 'paperkit/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="{% static 'paperkit/assets/js/plugins/moment.min.js' %}"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="{% static 'paperkit/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static 'paperkit/assets/js/plugins/bootstrap-selectpicker.js' %}" type="text/javascript"></script>
    <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="{% static 'paperkit/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
    <!--  Vertical nav - dots -->
    <!--  Photoswipe files -->
    <script src="{% static 'paperkit/assets/js/plugins/photo_swipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'paperkit/assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'paperkit/assets/js/plugins/photo_swipe/init-gallery.js' %}"></script>
    <!--  for Jasny fileupload -->
    <script src="{% static 'paperkit/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'paperkit/assets/js/paper-kit.js?v=2.3.0' %}" type="text/javascript"></script>
    <!--  Plugin for presentation page - isometric cards  -->
    <script src="{% static 'paperkit/assets/js/plugins/presentation-page/main.js' %}"></script>

    <link href="{% static 'summernote/summernote-bs4.css' %}" rel="stylesheet">
    <script src="{% static 'summernote/summernote-bs4.js' %}"></script>



    {% block links %}{% endblock %}
</head>

<body class="sidebar-collapse">
{% include 'shared/subtemplates/navbar.html' %}
{% block main %}
    <div class="main">
        <div class="section">
            <div class="container">
                <h3>Add Product</h3>
                <div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <h6>Product Image</h6>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-no-padding" style="max-width: 370px; max-height: 250px;">
                                    <img src="../assets/img/image_placeholder.jpg" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-no-padding" style="max-width: 370px; max-height: 250px;"></div>
                                <div>
                  <span class="btn btn-outline-default btn-round btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                  </span>
                                    <a href="#paper-kit" class="btn btn-link btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                            <h6>Tags</h6>
                            <div id="tags">
                                <input class="tagsinput" data-color="success" type="text" value="Minimal, Light, New, Friends" data-role="tagsinput" />
                                <!-- <div class="tagsinput-add"></div> -->
                                <!-- You can change "tag-primary" with with "tag-info", "tag-success", "tag-warning","tag-danger" -->
                            </div>
                            <h6>Categories</h6>
                            <div id="tags-2">
                                <input class="tagsinput" data-color="success" type="text" value="Food, Drink" data-role="tagsinput" />
                                <!-- <div class="tagsinput-add"></div> -->
                                <!-- You can change "tag-primary" with with "tag-info", "tag-success", "tag-warning","tag-danger" -->
                            </div>
                            <h6>Format
                                <span class="icon-danger">*</span>
                            </h6>
                            <div class="form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Digital
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Print
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                                <h6>Name
                                    <span class="icon-danger">*</span>
                                </h6>
                                <input type="text" class="form-control border-input" placeholder="enter the product name here...">
                            </div>
                            <div class="form-group">
                                <h6>Tagline
                                    <span class="icon-danger">*</span>
                                </h6>
                                <input type="text" class="form-control border-input" placeholder="enter the product tagline here...">
                            </div>
                            <div class="row price-row">
                                <div class="col-md-6">
                                    <h6>Price
                                        <span class="icon-danger">*</span>
                                    </h6>
                                    <div class="input-group border-input">
                                        <input type="text" value="" placeholder="enter price" class="form-control border-input">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-euro"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6>Discount</h6>
                                    <div class="input-group border-input">
                                        <input type="text" value="" placeholder="enter discount" class="form-control border-input">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h6>Description</h6>
                                <textarea class="form-control textarea-limited" placeholder="This is a textarea limited to 150 characters." rows="13" maxlength="150"></textarea>
                                <h5>
                                    <small>
                                        <span id="textarea-limited-message" class="pull-right">150 characters left</span>
                                    </small>
                                </h5>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""> Display on landing page
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row buttons-row">
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-outline-danger btn-block btn-round" type="reset">Cancel</button>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-outline-primary btn-block btn-round" type="submit">Save</button>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-primary btn-block btn-round" type="submit">Save & Publish </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>`
    </div>
{% endblock main %}
<!--   Core JS Files   -->

</body>

</html>